
<h2 class="text-success">@ViewData["success"]</h2>
<h2 class="text-danger">@ViewData["error"]</h2>
<br/>
<h1>Add Customer</h1>

<form method="post">
    <label for="Name">Customers Name</label>
    <input name="Name" type="text" id="Name"/>
    <br/>
    <label for="Birthdate">Customers Birthdate</label>
    <input name="BirthDate" type="date" id="Birthdate"/>
    <br/>
    <input type="submit" value="Add Customer" />
</form>