<!DOCTYPE html>
<html>
<head>
    <link href="../Style/style.css" rel="stylesheet" />
    <title>Softuni Beers</title>
</head>
<body>
<nav>
    <div class="topnav">
        <a class="logo" href="index.html"><img src="../Images/logo.png" /></a>
        <a class="active" href="index.html">Home</a>
        <a href="all-beers.html">See All Beers</a>
        <a href="order.html">Order a Beer</a>
        <a class="right" href="register.html">Register</a>
        <a class="right" href="login.html">Login</a>
    </div>
</nav>
<main>
    <h1>Welcome to SoftUni <span>Beers</span>!</h1>
</main>
<footer>
    <hr />
    <p><em>&copy; 2017 &ndash; Softuni Beers</em></p>
</footer>
</body>
</html>