<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../Style/form.css" />
    <link rel="stylesheet" href="../Style/style.css" />
    <title>Register</title>
</head>
<body>
<nav>
    <div class="topnav">
        <a class="logo" href="index.html"><img src="../Images/logo.png" /></a>
        <a href="index.html">Home</a>
        <a href="all-beers.html">See All Beers</a>
        <a href="order.html">Order a Beer</a>
        <a class="right active" href="register.html">Register</a>
        <a class="right" href="login.html">Login</a>
    </div>
</nav>
<main>
    <center>
        <h1>Register</h1>
        <br/>
        <form>
            <label>Your Name</label>
            <input placeholder="Enter Name" type="text"/>
            <label>Username</label>
            <input placeholder="Enter Username" type="text"/>
            <label>Email</label>
            <input placeholder="email@domain.com" type="text"/>
            <label>Password</label>
            <input placeholder="Enter Password" type="text"/>
            <label>Confirm Password</label>
            <input placeholder="Confirm Password" type="text"/>
        </form>
    </center>
</main>
</body>
</html>
