<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Fruits</title>
</head>
<body>
    <h1>Fruits</h1>
    <p>
        <img width="50" height="50" src="../Images/banan.png" />
        <img width="50" height="50" src="../Images/orange.png" />
        <img width="50" height="50" src="../Images/kiwi.jpg" />
        <img width="50" height="50" src="../Images/kiwi.jpg" />
        <img width="50" height="50" src="../Images/apple.png" />
    </p>
    <p>
        <img width="50" height="50" src="../Images/apple.png" />
        <img width="50" height="50" src="../Images/apple.png" />
        <img width="50" height="50" src="../Images/banan.png" />
        <img width="50" height="50" src="../Images/kiwi.jpg" />
        <img width="50" height="50" src="../Images/orange.png" />
    </p>
    <p>
        <img width="50" height="50" src="../Images/orange.png" />
        <img width="50" height="50" src="../Images/banan.png" />
        <img width="50" height="50" src="../Images/orange.png" />
        <img width="50" height="50" src="../Images/orange.png" />
        <img width="50" height="50" src="../Images/apple.png" />
    </p>
</body>
</html>