<h2 class="text-danger">@ViewData["error"]</h2>
<br />
<h1>Login</h1>

<form method="post">
    <label for="Email">Email</label>
    <input type="text" name="Email" id="Email" />
    <br />
    <label for="Password">Password</label>
    <input type="password" name="Password" id="Password" />
    <br />
    <input type="submit" value="Login" />
    <br />
</form>